<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.usStore.dao.mybatis.mapper.AccountMapper">
  <cache />

  <select id="getAccountByUserId" resultType="Account">
    SELECT USERID, PASSWORD, USERNAME, EMAIL,
    ADDR1, ADDR2, CITY, STATE, ZIP, COUNTRY, PHONE, UNIVERSITY
    FROM ACCOUNT
    WHERE USERID = #{userId}
  </select>
  
   <select id="getAccountByUsername" resultType="Account">
    SELECT USERID, PASSWORD, USERNAME, EMAIL,
    ADDR1, ADDR2, CITY, STATE, ZIP, COUNTRY, PHONE, UNIVERSITY
    FROM ACCOUNT
    WHERE USERNAME = #{userName}
  </select>

  <select id="getAccountByUserIdAndPassword" resultType="Account">
    SELECT USERID, PASSWORD, USERNAME, EMAIL,
    ADDR1, ADDR2, CITY, STATE, ZIP, COUNTRY, PHONE, UNIVERSITY
    FROM ACCOUNT
    WHERE USERID = #{param1} AND PASSWORD = #{param2}
  </select>

  <update id="updateAccount" parameterType="Account">
    UPDATE ACCOUNT SET
    USERID = #{userId}, 
    PASSWORD = #{password}, 
    USERNAME = #{userName}, 
    EMAIL = #{email}, 
    ADDR1 = #{address1},
    ADDR2 = #{address2}, 
    CITY = #{city}, 
    STATE	 = #{state}, 
    ZIP = #{zipCode}, 
    COUNTRY = #{country}, 
    PHONE = #{phone}, 
    UNIVERSITY = #{university}
    WHERE USERID = #{userId}
  </update>

  <insert id="insertAccount" parameterType="Account">
    INSERT INTO ACCOUNT
      (USERID, PASSWORD, USERNAME, EMAIL, ADDR1, ADDR2, CITY, STATE, ZIP, COUNTRY, PHONE, UNIVERSITY)
    VALUES
      (#{userId}, #{password}, #{userName}, #{email}, #{address1}, #{address2,jdbcType=VARCHAR}, #{city}, #{state}, #{zipCode}, #{phone}, #{university})
  </insert>
</mapper>