<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usStore.dao.mybatis.mapper.ItemMapper">
  	<cache />
	<insert id="insertItem" parameterType="Item">
		<selectKey keyProperty="itemId" resultType="int" order="BEFORE">
			SELECT ITEM_seq.nextval AS id FROM DUAL
		</selectKey> 
		INSERT INTO ITEM
		(ITEMID, UNITCOST, TITLE, DESCRIPTION, VIEWCOUNT, QTY, USERID, PRODUCTID) VALUES
		(#{itemId}, #{unitCost}, #{title}, #{description}, #{viewCount}, #{quantity}, #{userId}, #{productId})
	</insert>

	<update id="updateItem" parameterType="Item">
		UPDATE ITEM SET
		UNITCOST = #{unitCost},
		TITLE = #{title},
		DESCRIPTION = #{description},
		VIEWCOUNT = #{viewCount},
		QTY = #{quantity},
		USERID = #{userId},
		PRODUCTID = #{productId}
		WHERE itemId = #{itemId}
	</update>

	<delete id="deleteItem">
		DELETE ITEM
		FROM ITEM
		WHERE ITEMID = #{itemId} 
	</delete>

	<select id="getItem" resultType="Item">
		SELECT
		ITEMID,
		UNITCOST,
		TITLE,
		DESCRIPTION,
		VIEWCOUNT,
		QTY,
		USERID,
		PRODUCTID
		FROM ITEM
		WHERE I.ITEMID = #{value}
	</select>

	<select id="getQuantity" resultType="int">
		SELECT QTY AS value
		FROM ITEM
		WHERE ITEMID = #{itemId}
	</select>

	<update id="updateQuantity">
		UPDATE ITEM
		SET QTY = QTY - #{increment}
		WHERE ITEMID = #{itemId}
	</update>
</mapper>