<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usStore.dao.mybatis.mapper.SecondHandMapper">
  <cache />
	<select id="getSecondHandList" resultType="SecondHand">
	SELECT 
  		I.ITEMID,
  		I.UNITCOST,
  		I.TITLE,
  		I.DESCRIPTION,
  		I.VIEWCOUNT,
  		I.SUPPID,
  		I.TAGID,
  		I.QTY,
		I.USERID,
		I.PRODUCTID,
		S.DISCOUNT,
		S.LISTPRICE
	FROM ITEM I, SECONDHAND S
	WHERE I.itemId = #{value} AND I.ITEMID = S.ITEMID
	</select>
	
	<update id="updateSecondHand" parameterType="SecondHand">
    UPDATE SecondHand SET
      LISTPRICE = #{listPrice},
      DISCOUNT = #{discount}
    WHERE itemId = #{itemId}
  </update>
  
	<delete id="deleteItem">
		DELETE ITEM
		FROM ITEM
		WHERE ITEMID=#{itemId}
	</delete>
	
</mapper>